<style>

    .counter{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    h1, h2 {
        text-align: center;
    }
    table {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
        table-layout: fixed;
    }
    
    td, th {
        word-wrap:break-word;
    }
    table, th, td {
        border: 1px solid black;
       }
</style>


<h1> Vulners References for {{ cve_id }}</h1>
<hr/>
<h2>Bulletins count</h2>
<table class="counter">
{% for i in metadata['bulletinFamily'] %}
    <tr><td><a href="#{{ i }}">{{ i }}</a></td><td>{{ metadata['bulletinFamily'][i] }}</td></tr>
{% endfor %}
</table>
{% for bulletinFamily in bulletins %}
<hr/>
<h2 id="{{ bulletinFamily }}">{{ bulletinFamily }}</h2>
<table>
    <tr>
        <th>id</th>
        <th>Title</th>
        <th>Type</th>
        <th>Reference</th>
    </tr>

    {% for bulletin in bulletins[bulletinFamily] %}
    <tr>
        <th>{{ bulletin['id'] }}</th>
        <th>{{ bulletin['title'] }}</th>
        <th>{{ bulletin['type'] }}</th>
        <th><a href="{{ bulletin['href'] }}" target="_blank">{{ bulletin['href'] }}</a></th>
    </tr>
    {% endfor %}
</table>
{% endfor %}
